* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-nav {
    gap: 10px;
}

#home {
    width: 100%;
    height: 700px;
    background-image: url(/assets/img/header-bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 30px;
  

    .container {
        // margin-right: auto;
        // margin-left: auto;
        // padding-right: 15px;
        // padding-left: 15px;
        margin: 30px;
        padding: 30px;
        width: 100%;
        height: auto;
        background-color: red;

        .homecontentthird {
            display: flex;
        }

        .homecontenttwo {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .homecontentsecond {
            display: flex;
            gap: 10px;

        }

        .homemaincontent {
            display: flex;
            gap: 10px;
        }

        .homecontentone {
            width: 500px;
            height: auto;
        }
    }
}